h1 {

}

#main {
    background: url("headerslice.jpg") repeat-x; 
}

body {
 font-family: Arial, Helvetica, sans-serif; 
 background: #ebe8e8;
 }
 
 #footer {
    background: url(footerslice.jpg) repeat-x; 
}